<div class="row">
  <h2>Client Sign Up</h2>
  <%=form_tag('/clients/sign_up', method: 'post', class: 'custom') do %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :password %>
          <%=password_field_tag :password %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :password_confirmation, 'Confirm Password' %>
          <%= password_field_tag :password_confirmation %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div><%= submit_tag 'Sign Up', class: 'button' %></div>
        </div>
      </div>
  <% end %>
</div>