<div class="Client Sign Up" style="margin:20px">
  <h2>Client Sign Up</h2>

  <%= form_tag :html => {:class => 'custom'} do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="large-12 columns">
          <div><%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %></div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div><%= f.label :password %>
            <br/>
            <%= f.password_field :password %></div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div><%= f.label :password_confirmation %>
            <br/>
            <%= f.password_field :password_confirmation %></div>
        </div>
      </div>


      </div>
      <div class="row">
        <div class="large-12 columns">
          <div><%= f.submit 'Sign Up' %></div>
        </div>
      </div>
  <% end %>

  </div>