  <div class= "row">
    <div class= "twelve columns">
    <h1 style ="text-align:center"> Design Our House </h1>
    </div>
  </div>
  <div class= "row">
    <div class= "small-4 columns">
      <div class="photo"> <%= image_tag "BELLAMAR_01.jpg", width: 250 %> </div>
    </div>
    <div class= "small-4 columns">
        <div class= "row">
                <div class= "small-6 columns">
                  <div class="photo"> <%= image_tag "RHODES_3.jpg", width: 120 %> </div>
                </div>
            <div class= "small-6 columns">
              <div class="photo"> <%= image_tag "OCEAN_3.jpg", width: 120 %> </div>
            </div>
        </div>
      <div class= "row">
                 <div class= "small-6 columns">
                   <div class="photo"> <%= image_tag "RAND_3.jpg", width: 120 %> </div>
                 </div>
        <div class= "small-6 columns">
          <div class="photo"> <%= image_tag "PINE_C.jpg", width: 120 %> </div>
        </div>
      </div>
    </div>
    <div class= "small-4 columns">
      <div class="photo"> <%= image_tag "SOFA_GREEN_7.jpg", width: 250 %> </div>
    </div>
  </div>
                   <br/>
  <div class= "row">
    <div class="small-6 small-offset-4 columns">
  <ul class="inline-list">
    <li><a href="http://demariadesign.com/2/">DeMaria Design</a></li>
    <li><a href="http://www.aia.org/">AIA</a></li>
    <li><a href="#">UBC</a></li>
    <li><a href="#"> ICBO</a></li>
  </ul>
    </div>
  </div>

  <h4 style= "text-align:center"> Why You Should Use designourhouse.com</h4>
  <p style= "text-align:center"> jkda;vieopajckl;ewjcio pjiopeqmkglrpqj opfjvi pj impoej fiopejgio pnbieropjcoeipjfpew</p>
  <div class = "row">
     <div class= "small-1 small-offset-9 columns">
       <div><a href="http://facebook.com"><%= image_tag "facebook.png"%></a></div>
     </div>
    <div class="small-1 columns">
      <div><a href="http://linkedin.com"> <%= image_tag "linkedin.png"%> </a></div>
    </div>
    <div class= "small-1 columns">
      <div><a href= "http://twitter.com"> <%= image_tag "twitter.png" %> </a></div>
    </div>
  </div>
</div>

