<div class="row">
  <h2>Designer Sign Up</h2>
  <%=form_tag('/designers/sign_up', method: 'post', class: 'custom', multipart: true) do %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :password %>
          <%=password_field_tag :password %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :password_confirmation, 'Confirm Password' %>
          <%= password_field_tag :password_confirmation %>
        </div>
      </div>
      <div class= "row">
        <div class= "large-12 columns">
          <%= label_tag :description, 'Enter a description of yourself and your typical work as a designer' %>
            <%= text_area_tag :description %>
        </div>
      </div>
      <div class = "row">
        <div class= "large-12 columns">
          <%=label_tag :specialization_category, 'Type of Designer' %>
          <%=select_tag :specialization_category_id, options_from_collection_for_select(Category.all, 'id', 'name') %>
        </div>
      </div>
      <div class= "row">
        <div class= "large-12 columns">
          <%= label_tag :photo, 'Profile Photo' %>
            <%= file_field_tag :photo, class: 'small button secondary' %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div><%= submit_tag 'Sign Up', class: 'button' %></div>
        </div>
      </div>
  <% end %>
</div>