<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row" style="max-width:none">
  <!--<div class= "small-2 columns">
    <div class="logo" style="float: left;"> <%= image_tag 'designourhouselogoV2.png', width: 60 %> </div>
  </div>-->
<div class= "small-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <a href="/"><%= image_tag 'designourhouselogoV2_white.png', width: 60, style: "margin: 2.5px 5px 2.5px 5px" %></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li><a href="/contests">Design Contests</a></li>
          <li class="divider"></li>
          <li><a href="/designers">Designers</a>    </li>
          <li class= "divider"></li>
        </ul>
        <ul class="right">
          <% if user_signed_in? %>
          <li><a href="/designer_profiles">My Homepage</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>>
          <% else %>
              <li class= "divider"></li>
              <li><a href="/clients/sign_up">Client Sign Up</a></li>
              <li class= "divider"></li>
              <li><a href="/clients/sign_in">Client Sign In</a></li>
              <li class= "divider"></li>
              <li><a href="/designers/sign_up">Designer Sign Up</a></li>
              <li class= "divider"></li>
              <li><a href="/designers/sign_in">Designer Sign In</a></li>
              <li></li>
          <%end%>
        </ul>
      </section>
    </nav>
  </div>
 </div>


  <%= yield %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>